legend {
    margin-bottom: 10px;
}
.btn-toolbar {
    margin-bottom: 9px;
    text-align: center;
}

.btn-toolbar .btn-group {
    margin-top: 9px;
}
.row {
    margin-left: 33%;
    margin-right: 33%;
}
.green {
    color: green;
}
.orange {
    color: orange;
}
.red {
    color: red;
}
@media only screen and (max-width: 760px) {
    .row {
        margin-left: 5%;
        margin-right: 5%;
    }
}
