body {
    margin: 0;
    padding: 20px;
    background-color: #fff;
    color: #000;
    font-family: 'Source Sans Pro', tahoma, arial, helvetica, sans-serif;
    font-size: 11pt;
}

h2 {
    font-size: 15pt !important;
    text-align: center !important;
    margin: 5%;
}


.mtrwebtester_dial {
    position: relative;
    width: 215px;
    height: 215px;
    background: url('images/dial_bg.png') no-repeat top left;
}

.mtrwebtester_dial .mtrwebtester_dial_arrow {
    z-index: 115;
    position: absolute;
    top: 0;
    left: 0;
    width: 215px;
    height: 215px;
    background: url('images/dial_arrow.png') no-repeat top left;
    display: none;
}

.mtrwebtester_dial .mtrwebtester_dial_arrow_up {
    background: url('images/dial_arrow_up.png') no-repeat top left;
}

.mtrwebtester_dial .mtrwebtester_dial_fg {
    z-index: 120;
    position: absolute;
    top: 0;
    left: 0;
    width: 215px;
    height: 215px;
    background: url('images/dial_fg.png') no-repeat top left;
}

.mtrwebtester_dial_ping {
    position: relative;
    width: 161px;
    height: 161px;
    background: url('images/dial_bg_150.png') no-repeat top left;
}

.mtrwebtester_dial_ping .mtrwebtester_dial_arrow {
    z-index: 115;
    position: absolute;
    top: 0;
    left: 0;
    width: 161px;
    height: 161px;
    background: url('images/dial_arrow_150_blue.png') no-repeat top left;
    display: none;
}

.mtrwebtester_dial_ping .mtrwebtester_dial_fg {
    z-index: 120;
    position: absolute;
    top: 0;
    left: 0;
    width: 161px;
    height: 161px;
    background: url('images/dial_fg_150.png') no-repeat top left;
}

.mtrwebtester_dial_text {
    z-index: 130;
    position: absolute;
    top: 85px;
    left: 0;
    color: #000;
}

.mtrwebtester_dial_text span {
    font-size: 10pt;
    display: block;
    text-align: center;
    width: 215px;
}

.mtrwebtester_dial_text .mtrwebtester_dial_text_number {
    font-size: 15pt;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
}
.mtrwebtester_dial_ping .mtrwebtester_dial_text {
    top: 62px;
}

.mtrwebtester_dial_ping .mtrwebtester_dial_text span {
    width: 161px;
}

.mtrwebtester_dial_ping .mtrwebtester_dial_text .mtrwebtester_dial_text_number {
    font-size: 13pt;
}
/*.testerSlOver {
    width: 400px;
    margin: auto;
    display: inline-block;
}*/
.testerSlOverSl {
    display: inline-table;
}
.testerSlOverSlIn{
    
}
/*.testerSlOverSlDown {
    float: left;
    display: inline-block;
}
.testerSlOverSlUp {
    float: right;
    display: inline-block;
}
.testerSlOverSlPing {
    float: none;
    display: inline-block;
    width: 24%;
}*/
#progressBarDown {
    width: 100%;
    height: 22px;
    margin: 10% auto;
    background: #292929;
    border: 1px solid #111;	
    border-radius: 5px;	
    overflow: hidden;
    box-shadow: 0 0 5px #333;
}
#progressBarDown div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    /*background-color: #1a82f7;*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5CA222), to(#487e1b)); 
    background: -webkit-linear-gradient(top, #5CA222, #487e1b); 
    background: -moz-linear-gradient(top, #5CA222, #487e1b); 
    background: -ms-linear-gradient(top, #5CA222, #487e1b); 
    background: -o-linear-gradient(top, #5CA222, #487e1b);
}
#progressBarUp {
    width: 100%;
    height: 22px;
    margin: 10% auto;
    background: #292929;
    border: 1px solid #111;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px #333;
}
#progressBarUp div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    /*background-color: #1a82f7;*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a26822), to(#7e511b));
    background: -webkit-linear-gradient(top, #a26822, #7e511b);
    background: -moz-linear-gradient(top, #a26822, #7e511b);
    background: -ms-linear-gradient(top, #a26822, #7e511b);
    background: -o-linear-gradient(top, #a26822, #7e511b);
}
@media screen and (max-width: 760px) {
    .testerSlOverSlIn { display: none }
    .testerSlOverSl { width: 50% }
    #tipo { margin: 2% }
    #progressBarDown { margin: auto }
    #progressBarUp { margin: auto }
    #log { margin: 5% }
}

